body{
    font-family: 'Work Sans', sans-serif;
    background-color: #21308e;
}

.support-heading{
    border-bottom: #000000;
    padding: 20px 60px;
    font-style: bold;
    font-size: 300%;
    text-align: center;
    text-emphasis:unset;
}

.p1 { 
    color: rgb(0, 0, 0);
    font-size: 160%;
    font-style: normal;
    text-align: center;

}

.supportlogo { 
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50px;
    left: 800px;
}

.supportlogo2 { 
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50px;
    right: 800px;
}

.back {
    color: white;
    font-style: normal;
    background-color: #21308e;
    text-decoration: none;
    position: absolute;
    top: 50px;
    left: 2200px;
    font-size: 300%;
    transform: scale(0.5);
    transition: color 0.3s ease, background-color 0.3s ease;
}

.back::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: rgb(16, 56, 234);
    transition: width 0.3s ease;
}

.back:hover {
    color: #1e34c1;
    font-style: normal;
    background-color: #21308e;
}

.back:hover::after {
    width: 100%;
}

.discordbutton {
    color: white;
    font-style: normal;
    background-color: #21308e;
    text-decoration: none;
    position: absolute;
    top: 50px;
    left: 2300px;
    font-size: 300%;
    transform: scale(0.5);
    transition: color 0.3s ease, background-color 0.3s ease;
}

.discordbutton::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: rgb(16, 56, 234);
    transition: width 0.3s ease;
}

.discordbutton:hover {
    color: #1e34c1;
    font-style: normal;
    background-color: #21308e;
}

.discordbutton:hover::after {
    width: 100%;
}

.footer { 
    text-align: center;
    position: absolute;
    top: 1200px;
    left: 1000px;
    font-style: italic;
    font-size: 100%;
    color: #ffffff;
}